.cards{
    
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}

.cartoes{
    background-color: #7159c1;
}

.cardcontent img{
    width: 100%;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity:0;
    visibility: hidden;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}